<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure Authorization header is passed to PHP
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

    # Allow access to existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #Rewrite /api/orders/25 to /api/orders/id.php?id=25
    RewriteRule ^api/orders/([0-9]+)$ api/orders/id.php?id=$1 [QSA,L]

    # Keep direct access to API files
    RewriteRule ^api/(.*)$ api/$1 [QSA,L]
</IfModule>
